:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    color: var(--color4);
    padding: 20px;
}
footer > .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > .footer-container > .footer_logo{
    display: flex;
    align-items: center;
}
footer > .footer-container > .footer_logo > img{
    width: auto;
    height: 100px;
    margin: 10px;
}
footer > .footer-container > .footer_logo::after{
    content: " ";
    display: block;
    width: 3px;
    height: 100%;
    background-color: var(--color2);
    transform: rotate(20deg);
    margin-left: 25px;
}
footer > .footer-container > .networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > .footer-container > .networks > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
}
footer > .footer-container > .networks > ul > li{
    margin: 0 10px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    color: var(--color3);
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
}
footer > .footer-container > .networks > ul > li a{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.8em;
}
footer > .footer-container > .networks > ul > li:hover{
    border-bottom: 1px solid var(--color1);
}
footer > .footer-container > .networks > ul > li:hover > a{
    color: var(--color1);
}

footer > .nav_options{
    display: flex;
    justify-content: center;
    width: 100%;
}
footer > .nav_options > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
}
footer > .nav_options > ul > li{
    margin: 0 10px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    color: var(--color3);
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
}
footer > .nav_options > ul > li a{
    text-decoration: none;
    color: var(--color3);
}
footer > .nav_options > ul > li:hover{
    border-bottom: 1px solid var(--color1);
}
