:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-list{
  display: flex;
  flex-direction: column;
}
footer{
    color: var(--color4);
    background-color: #6b6b6b;
    padding: 20px;
    display: flex;
}
footer > .footer-container{
    position: relative;
    justify-content: space-between;
    align-items: center;
}
/*----- LOGO -----*/
.footer-container > .footer-logo{
    display: flex;
    align-items: center;
}
.footer-container > .footer-logo > img{
    width: auto;
    height: 100px;
    margin: 10px;
}

/*----- LINKS EMPRESA -----*/
.footer-container > .footer-links{
    display: flex;
    position: relative;
}
.footer-container > .footer-links > .links{
    display: flex;
}
.links > ul > li > .a{
    color: #d21b24 !important;
    list-style: none
}

/*----- SOCIAL -----*/
.social{
    display: flex;
    
}
.social > .networks{
    display: flex;
    align-items: center;
}
.social > .networks > ul{
    display: flex;
    list-style: none;
    margin: 10px;
}
.social > .networks > ul > li{
    margin: 0 10px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
}
.social > .networks > ul > li a{
    text-decoration: none;
    color: var(--color4);
    font-size: 1.8em;
}
.social > .networks > ul > li:hover{
    border-bottom: 1px solid var(--color1);
}
.social > .networks > ul > li:hover > a{
    color: var(--color1);
}
/*----- APP WETAXI -----*/
.wetaxi-app{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.wetaxi-link-btn{
    width: 166px;
    height: 50px;
    background: #010101;
    border-radius: 10px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: #f2f2f2;
    text-decoration:none;
    margin: 10px 15px;
}
.wetaxi-link-btn > i{
    margin-top: 5px;
    margin-left: 8px;
    font-size: 2em;
    float: left;
    color:#ffffff;
}
.wetaxi-link-text > span{
    font-size: 12px;
    color:#ffffff;
}
.wetaxi-link-text > h5{
    font-size: 18px;
    color:#ffffff;
    margin-bottom: 2px;
}
@media screen and (max-width: 768px){
    .social{
        flex-direction: row;
        align-items: center;
    }
    .wetaxi-app{
        justify-content: space-between;
    }
    .networks{
        justify-content: space-between;
    }
}

/*----- COPYRIGHT -----*/
.footer-container > .copyright{
    display: flex;
    font-size: 0.8rem;
    justify-content:space-between;
}
.footer-container > .copyright ul{
    display: flex;
    
}
.footer-container > .copyright ul li{
    list-style: none;
    margin-right: 20px;
    
}
.footer-container > .copyright ul li a{
    color: var(--color4);
    text-decoration: none;
    
}
@media screen and (min-width: 768px){
    .copyright{
        flex-direction: row;
        align-items: center;
        
    }
    .req{
        justify-content: space-between;
        
    }
}