:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
footer{
    color: var(--color4);
    background-color: #6b6b6b;
    padding: 20px;
    display: flex;
}
.footer-container{
    position: relative;
    width: 100%;
}
/*----- LOGO -----*/
.footer-logo{
    display: flex;
    align-items: center;
    padding: 10px;
}
.footer-logo > img{
    width: auto;
    height: 100px;
    margin: 10px;
}

/*----- LINKS EMPRESA -----*/
.footer-links{
    display: flex;
    columns: 4;
}
.footer-links > .links{
    display: flex;
}
.links > ul > li > a{
    color: var(--color4);
}
.links > ul > li:hover > a{
    color: var(--color1);
}

/*----- SOCIAL -----*/
.social{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.networks{
    display: flex;
    align-items: center;
}
.networks > ul{
    display: flex;
    list-style: none;
    margin: 10px;
}
.networks > ul > li{
    margin: 0 10px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
}
.networks > ul > li a{
    text-decoration: none;
    color: var(--color4);
    font-size: 1.8em;
}
.networks > ul > li:hover{
    border-bottom: 1px solid var(--color1);
}
.networks > ul > li:hover > a{
    color: var(--color1);
}
/*----- APP WETAXI -----*/
.wetaxi-app{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
}
.wetaxi-link-btn{
    width: 166px;
    height: 50px;
    background: #010101;
    border-radius: 10px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: #f2f2f2;
    margin: 10px 15px;
}
.wetaxi-link-btn > i{
    margin-top: 5px;
    margin-left: 8px;
    font-size: 2em;
    float: left;
    color:#ffffff;
}
.wetaxi-link-text > span{
    font-size: 12px;
    color:#ffffff;
}
.wetaxi-link-text > h5{
    font-size: 18px;
    color:#ffffff;
    margin-bottom: 2px;
}
@media screen and (min-width: 768px){
    .social{
        flex-direction: row;
        align-items: center;
    }
    .wetaxi-app{
        justify-content: space-between;
    }
    .networks{
        justify-content: space-between;
    }
}

/*----- COPYRIGHT -----*/
.copyright{
    display: flex;
    font-size: 0.8rem;
    justify-content:space-between;
}
.copyright > ul{
    display: flex;
}
.copyright > ul > li{
    margin-right: 20px;
}
.copyright > ul > li > a{
    color: var(--color4);
}
.copyright > ul > li:hover > a{
    color: var(--color1);
}
@media screen and (min-width: 768px){
    .copyright{
        flex-direction: row;
        align-items: center;
    }
    .req{
        justify-content: space-between;
    }
}