:root {
  --color1: #ff7928;
  --color2: #d21b24;
  --color3: #010101;
  --color4: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul{
  list-style: none !important;
}
a{
  text-decoration: none !important;

}