:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main > .primeraSeccion{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-size: cover;
}
main > .primeraSeccion > .textoUno{
    height: 15%;
    width: 25%;
    text-align: center;
    background: #f2f2f2a6;
    background-size: contain;
    border-radius: 25px;
    
}
main > .primeraSeccion > .textoUno > .titulo{
    color: #ff7928;
    
}

/* section servicios */

.servicios-container{
    
}