:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main > .primeraSeccion{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-size: cover;
}
main > .primeraSeccion > .textoUno{
    height: 15%;
    width: 25%;
    text-align: center;
    background: #f2f2f2a6;
    background-size: contain;
    border-radius: 25px;
    
}
main > .primeraSeccion > .textoUno > .titulo{
    color: #ff7928;
    
}

/* slider section */

main > .containerSlider{
    width: 100%;
    max-width: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}
main > .containerSlider > .sliderWrapper{
    display: flex;
    width: 400%;
    height: 400px;
}
main > .containerSlider > .sliderWrapper > .sliderCaption{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
@keyframes slider{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }

}
main > .containerSlider > .sliderWrapper > .sliderCaption > .sliderImg{
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
}
main > .containerSlider > .sliderWrapper > .sliderCaption > .sliderHead{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    background: #ffffffd8;
    border-radius: 5px;
    transform: translateY(100%);
    opacity: 0;
    transition: 500ms ease opacity, 500ms ease transform;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}
main > .containerSlider > .sliderWrapper > .sliderCaption > .sliderHead > .head{
    font-size: 20px;
    color:#010101;
    transition: 500ms ease-in all;
}
main > .containerSlider > .sliderWrapper > .sliderCaption > .sliderHead > .subHead{
    font-size: 15px;
    font-weight: bold;
    color:#d21b24;
    display: block;
}

main > .containerSlider:hover > .sliderWrapper > .sliderCaption > .sliderHead{
    transition-delay: 500ms;
    opacity: 1;
    transform: translateY(0);
}
main > .containerSlider > .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
}
main > .containerSlider > .btn-container > .btn{
    width: 40px;
    height: 40px;
    background: #f2f2f28c;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
main > .containerSlider > .left-btn{
    left: 10px;
    transform: translateX(-100%);
}
main > .containerSlider > .right-btn{
    right: 10px;
    transform: translateX(100%);
}
main > .containerSlider > .btn-container > .btn:hover{
    opacity: 1;
    background: #ff7a28 ;
}
main > .containerSlider:hover .left-btn, .containerSlider:hover .right-btn{
    opacity: 0.5;
    transform: translateX(0);
}
main > .containerSlider > .left-btn, .right-btn{
    opacity: 0;
    transition: 0.25s ease opacity, 0.25s ease transform;
}

/* section servicios */

.servicios-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.servicios-section > h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.services-container{
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.service-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    width: 100%;
    height: 100%;
    max-height: 450px;
    min-height: 300px;
    aspect-ratio: 1/1;
    position: relative;
}
@media screen and (max-width: 768px){
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.service-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.service-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-description{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 0.5s ease;
    padding: 20px;
    text-align: center;
}
.service-description > h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
.service-description > p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.service-description > p::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 10px;
}
.service-description > a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-top: 10px;
}
.service-description > a:hover{
    background-color: #fff;
    color: #000;
}
.service:hover .service-description{
    background-color: rgba(0, 0, 0, 0.8);
}


/* seccion freenow */


.freenow-section{
    display: flex;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color:#808080;
    
}
.freenow-container{
    display: flex;
    width: 100%;
    top: 50%;
}
/*---imagen---*/
.freenow-img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    
}
.freenow-img > img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    float: left;
    border: 10px solid transparent; /*borde transparente*/
}
/*---texto---*/
.freenow-description{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.freenow-description > p{
    font-size: 14px;
    display: flex;
    margin: 10px;
    justify-self: flex-end;
}
/*---boton enlace---*/

.freenow-link{
    display: flex;
    text-align: center;
}
.freenow-link-btn{
    width: 100%;
    height: 100%;
    margin: 10px;
    background: #010101;
    border-radius: 10px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color:#808080;
    text-decoration:none;
}
.freenow-link-btn > i{
    margin-top: 3px;
    margin-left: 8px;
    font-size: 2em;
    float: left;
    color:#ffffff;
}
.freenow-link-text > span{
    font-size: 12px;
    color:#ffffff;
}

.freenow-link-text > h5{
    font-size: 18px;
    color:#ffffff;
    margin-bottom: 2px;
}




/* Formulario contacto */

.formulario-contacto-section{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .formulario-contacto-section{
        flex-direction: column;
    }

}
.formulario-contacto-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.formulario-contacto-container > h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.formulario-contacto-container > form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-container{
    position: relative;
}
.input-container > input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: transparent;
    font-size: 1.2em;
}
.input-container > label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 1.2em;
    pointer-events: none;
    transition: all 0.25s ease;
}
.input-container > input:is(:focus) ~ label,
.input-container > input:not(:placeholder-shown) ~ label{
    top: -20px;
    left: 0;
    font-size: 0.8em;
    color: #000;
}
.input-container > textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #000;
    outline: transparent;
    font-size: 1.2em;
    /* resize: vertical; */
}
.input-container > textarea:focus ~ label,
.input-container > textarea:not(:placeholder-shown) ~ label{
    top: -20px;
    left: 5px;
    font-size: 1em;
    color: #000;
    background-color: white;
}

/* Contact info */

.datos-contacto-container{
    width: 400px;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color1);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
    .datos-contacto-container{
        width: 100%;
        border-radius: 0 0 10px 10px;

    }
}

.datos-contacto-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.datos-contacto-icon{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.3em;
}

