:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main > .primeraSeccion{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-size: cover;
}
main > .primeraSeccion > .textoUno{
    height: 15%;
    width: 25%;
    text-align: center;
    background: #f2f2f2a6;
    background-size: contain;
    border-radius: 25px;
    
}
main > .primeraSeccion > .textoUno > .titulo{
    color: #ff7928;
    
}

/* section servicios */

.servicios-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.servicios-section > h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.services-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.service-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    width: 100%;
    height: 450px;
    aspect-ratio: 1/1;
    background-color: red;
    position: relative;
}
.service-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.service-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-description{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 0.5s ease;
    padding: 20px;
    text-align: center;
}
.service-description > h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
.service-description > p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.service-description > p::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 10px;
}
.service-description > a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-top: 10px;
}
.service-description > a:hover{
    background-color: #fff;
    color: #000;
}
.service:hover .service-description{
    background-color: rgba(0, 0, 0, 0.8);
}

