:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f2f2f2;
    min-height: 100vh;
}
main > .containerSlider{
    width: 100%;
    max-width: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}
main > .containerSlider > .sliderWrapper{
    display: flex;
    width: 400%;
    height: 400px;
}
main > .containerSlider > .sliderWrapper > .sliderCaption{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    transform: translateX(0%) !important;
}
main > .containerSlider > .sliderWrapper > .sliderCaption > .sliderImg{
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
}
main > .containerSlider > .sliderWrapper > .sliderCaption > .sliderHead{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #f2f2f286;
}

main > .containerSlider > .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
}
main > .containerSlider > .btn-container > .btn{
    width: 40px;
    height: 40px;
    background: #f2f2f28c;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;

    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

main > .containerSlider > .left-btn{
    left: 10px;
}
main > .containerSlider > .right-btn{
    right: 10px;
}
main > .containerSlider > .btn-container > .btn:hover{
    background: #ff7a28 ;
}