
:root{
    --color1: #ff7928;
    --color2:#000;
    --color3:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Estilos para mecanica.php */
