
:root{
    --color1: #ff7928;
    --color2:#000;
    --color3:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para mecanica.php */

body {
    background-color: var(--color3);
    font-family: "Inter", sans-serif;
    color: #343a40;
    line-height: 1;
  }
.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.img-menu-acordeon{
  height: 114px;
  width: 200px;

}
.img-menu-acordeon > img{
  width: 100%;
  height: auto;

}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}


.text {
  font-size: 24px;
  font-weight: 500;
}



.svg-container{
  height: 50px;


}
.svg-container:first-child {
  height: 50px;
}
.icon {
  width: 24px;
  height: 24px;
  stroke: var(--color1);
  cursor: pointer;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hidden-box .botones-menu-acordeon {
  grid-column: span 2;
}

/* OPEN STATE */
.open {
  border-top: 4px solid var(--color1);
}

.open .hidden-box {
  display: block;
}


.open .text {
  color:  var(--color1);
}

  
  
  

  