
:root{
    --color1: #ff7928;
    --color2:#000;
    --color3:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para mecanica.php */

body {
    background-color: var(--color3);
    font-family: "Inter", sans-serif;
    color: #343a40;
    line-height: 1;
  }

/*animacion menu*/

.acordeon {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.img-menu-acordeon{
  height: 250px;

}
.img-menu-acordeon > img{
  width: 270px;
  height: 250px;
  border-radius: 5px;
  margin-right: 20px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.header-item {
  display: flex;
  justify-content: space-between;
  padding:  15px 20px;
}

.icon-title{
  display: flex;

}
.item-contenido{
  display: flex;
  
}
.text {
  font-size: 24px;
  font-weight: 500;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: var(--color1);
  cursor: pointer;
  margin-right: 15px;
}

.hidden-box {
  grid-column: 2;
  display: none;
  width: 100%;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: justify;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hidden-box .botones-menu-acordeon {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  /*EN EL CASO DE QUE REDIRIJA A OTRA PAGINA esta seprado por defecto en dos columnas*/
  
}

.botones-menu-acordeon > button{
  background-color: var(--color1);
  padding: 12px 24px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color3);
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;

}
.botones-menu-acordeon > button:hover{
  cursor: pointer;

}

/* OPEN STATE */
.open {
  border-top: 2px solid var(--color1);

}

.hidden-body{
  display: hidden;
}

.shown-body{
  display: block;
}


.open .text {
  color:  var(--color1);
}

  
  
  

  