:root{
    --color1: #ff7928;
    --color2: #d21b24;
    --color3: #010101;
    --color4: #f2f2f2;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }
.header-image{
    position: relative;
    margin: auto;
  
  }
  .header-image > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.4);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  }